@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  --background: #0A3622;
  --foreground: #E1EAE8;
  --card: #090F0D;
  --card-foreground: #E1EAE8;
  --popover: #090F0D;
  --popover-foreground: #E1EAE8;
  --primary: #5EE38C;
  --primary-foreground: #042414;
  --secondary: #131D1B;
  --secondary-foreground: #D7E0DE;
  --muted: #111816;
  --muted-foreground: #E9B384;
  --accent: #101E1B;
  --accent-foreground: #E1EAE8;
  --destructive: #A20519;
  --destructive-foreground: #F94144;
  --border: #1A2422;
  --input: #131D1B;
  --ring: #1F7265;
  --chart-1: #328173;
  --chart-2: #42926B;
  --chart-3: #356E71;
  --chart-4: #66A159;
  --chart-5: #335C69;
  --radius: 0.625rem;
  --sidebar: #020504;
  --sidebar-foreground: #D7E0DE;
  --sidebar-primary: #328173;
  --sidebar-primary-foreground: #F8F8F8;
  --sidebar-accent: #101E1B;
  --sidebar-accent-foreground: #D7E0DE;
  --sidebar-border: #1A2422;
  --sidebar-ring: #1F7265;
  --gray-500: #6B7280;
  --gray-400: #9CA3AF;
  --gray-300: #D1D5DB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-gray-500: var(--gray-500);
  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .shadow-inner-right {
    box-shadow: inset -9px 0 6px -1px rgb(0 0 0 / 0.02);
  }

  .shadow-inner-left {
    box-shadow: inset 9px 0 6px -1px rgb(0 0 0 / 0.02);
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
